<div class="ChatMain">
    <div class="ChatHeader">
        <div class="dropup">
            <div class="row">
                <div class="col-sm-8">
                    <span class="spnChat">Chat</span>
                </div>
                <div class="col-sm-4" style="text-align:right;">
                    <button class="btnSettings glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown"></button>
                    <button class="btnMinimize glyphicon glyphicon-minus"></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="lnkStartEndConv" href="#">Start Conversation</a></li>
                        <li><a id="lnkClear" href="#">Clear chat</a></li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
    <div class="ChatBody">
        <div class="ChatArea">
            <div class="alert-msg" style="text-align:center;z-index:9999">
                <div class="alert alert-success" style="display:none;">
                </div>
            </div>
        </div>
        <div class="ChatControls">
            <textarea id="txtInput"></textarea>
            <button id="btnSend">Send</button>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/ChatWindow.js"></script>
}
